body {
	background-color: rgb(126, 192, 238);
}

h1 {
	font-family: Indie Flower;
	color: #ee7600;
	font-size: 3em;
	text-transform: uppercase;
	margin-top: -22px;
}

h2 {
	color: brown;
	text-decoration: overline;
	text-transform: capitalize;
}

#rooster_image {
	display: none;
}

#alarm_container {
    font-family: Courier;
    font-size: 1em;
    padding: 1em;
}

.digital_time {
	display: inline-block;
	float: left;
	margin-left: 25px;
}

#currentTime {
	color: black;
	font-size: 26px;
}

#alarmTime {
	color: red;
	font-size: 26px;
}

#instruction {
	color: black;
	text-transform: uppercase;
	font-size: 20px;
	margin-top: -20px;
}

label {
	font-weight: bold;
	display: inline-block;
	font-size: 20px;
	background-color: red;
	padding: 10px 10px 10px 10px;
	border-radius: 15px;
	align-content: right;
}

#alarm_buttons {
	margin: 15px 100px 15px 100px;
	float: left;
}

#setAlarm {
	background-color: yellow;
	color: #ee7600;
	font-size: 24px;
	border-radius: 15px;
	padding: 15px;
	font-family: Courier;
	font-weight: bolder;
}

#setAlarm:hover {
	background-color: gold;
	color: black;
	padding: 10px;
	font-size: 32px;
	transition: 1s;
}

#setAlarm:active {
	background-color: gold;
	color: white;
	padding: 10px;
	font-size: 32px;
	transition: 0.5s;
}

#clearAlarm {
	background-color: #ee7600;
	color: yellow;
	font-size: 24px;
	border-radius: 15px;
	padding: 15px;
	font-family: Courier;
	display: inline;
	font-weight: bolder;
}

#clearAlarm:hover {
	background-color: red;
	color: white;
	padding: 10px;
	font-size: 32px;
	transition: 1s;
}

#clearAlarm:active {
	background-color: red;
	color: black;
	padding: 10px;
	font-size: 32px;
	transition: 0.5s;
}